.App{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
}
.leftSideHome{
    flex: 0.155;
    border: 1px solid #e1e1e1;
    padding: 25px 10px;
}
.middlSide{
    flex: 0.5;
    flex-direction: column;

}
.rightSide{

    flex: 0.355;
}