.middleHomeSide{
    width: 100%;
    border: 1px solid;
    padding: 30px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.storyBlock{
    width: 80%;
    border: 1px solid;
    display: flex;
    gap: 30px
}
.storyParticular{
    width: 66px;
    height: 66px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imageDiv{
    width: 56px;
    height: 56px;
    border-radius: 100%;
    padding: 2px;
    border: 1px solid;
}
.statusImg{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.profileName{
    font-size: 12px;
}